{{ define "home/index/index" }}
{{template "home/layout/header"}}
{{template "home/index/nav"}}
<div class="page-container">

    <!-- content srart -->
    <div class="blog-fixed">
        <div class="am-u-md-12 am-u-sm-12">


            <article class="am-g blog-entry-article">

                <div class="blog-entry-img-left blog-entry-img">
                    <img src="https://annie-header-bg-1253939655.cos.ap-beijing.myqcloud.com/68.jpg"
                         class="am-u-sm-12">
                </div>

                <div class="blog-entry-img-right blog-entry-text">
                    <a href="/2018/09/08/起风了/" itemprop="url">
                        <time datetime="2018-09-08T08:49:36.000Z" itemprop="datePublished">
                            2018-09-08
                        </time>
                    </a>


                    <a href="/2018/09/08/起风了/" itemprop="url">
                        起风了
                    </a>


                    <p>

                        起风了 (原曲： 高桥优 -《ヤキモチ》) - 买辣椒也用券
                        词：米果
                        曲：高桥优
                        这一路上走走停停
                        顺着少年漂流的痕迹
                        迈出车站的前一刻
                        竟有些犹豫
                        不禁笑这近乡情怯
                        仍无可避免
                        而长野的天
                        依旧那么暖
                        风吹起了从前
                        从前初识这世间
                        万般流连
                        看着天边似在眼前
                        也甘愿赴汤蹈火去走它一遍
                        如今走过这世间
                        万般流连
                        翻过岁月不同侧脸
                        措不及防闯入你的笑颜
                        我曾

                    </p>


                    <span class="continue-read">
							<a href="/2018/09/08/起风了/" class="pull-right">
								read more
							</a>
						</span>

                </div>

            </article>

        </div>
    </div>
    <!-- content end -->

</div>

{{template "home/layout/footer"}}
{{ end }}
