{{ define "home/index/index" }}
    {{template "home/layout/header" .}}
    {{template "home/layout/nav" .}}
        <div class="page-container">

            <!-- content srart -->
            <div class="container list">
                <div class="row">
                    <ul class="list-unstyled col-md offset">
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="media-left">
                                <img alt="laravelswooleesp8266-6d6q2"
                                     src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/14/TOJpIAjjsBTGOjh6loXo16RjrAbpW6uE8eCj123Z.jpg"
                                     data-holder-rendered="true"></a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravel55jwt-o4qvd" class="media-left mr-3">
                                <img
                                        alt="laravel55jwt-o4qvd"
                                        src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/09/MPjA56TmFrPmGS3VRmZhNg62HvJYCj92AYAVi7dN.png"
                                        data-holder-rendered="true">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="media-left">
                                <img alt="laravelswooleesp8266-6d6q2"
                                     src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/14/TOJpIAjjsBTGOjh6loXo16RjrAbpW6uE8eCj123Z.jpg"
                                     data-holder-rendered="true"></a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravel55jwt-o4qvd" class="media-left mr-3">
                                <img
                                        alt="laravel55jwt-o4qvd"
                                        src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/09/MPjA56TmFrPmGS3VRmZhNg62HvJYCj92AYAVi7dN.png"
                                        data-holder-rendered="true">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="media-left">
                                <img alt="laravelswooleesp8266-6d6q2"
                                     src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/14/TOJpIAjjsBTGOjh6loXo16RjrAbpW6uE8eCj123Z.jpg"
                                     data-holder-rendered="true"></a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravel55jwt-o4qvd" class="media-left mr-3">
                                <img
                                        alt="laravel55jwt-o4qvd"
                                        src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/09/MPjA56TmFrPmGS3VRmZhNg62HvJYCj92AYAVi7dN.png"
                                        data-holder-rendered="true">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="media-left">
                                <img alt="laravelswooleesp8266-6d6q2"
                                     src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/14/TOJpIAjjsBTGOjh6loXo16RjrAbpW6uE8eCj123Z.jpg"
                                     data-holder-rendered="true"></a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                        <li class="media">
                            <a href="http://blog.juneandlee.cn/laravel55jwt-o4qvd" class="media-left mr-3">
                                <img
                                        alt="laravel55jwt-o4qvd"
                                        src="http://pd4u2zyhe.bkt.clouddn.com/cover/2018/08/09/MPjA56TmFrPmGS3VRmZhNg62HvJYCj92AYAVi7dN.png"
                                        data-holder-rendered="true">
                            </a>
                            <div class="media-body">
                                <h6 class="media-heading">
                                    <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2">Laravel+Swoole+ESP8266实现外网远程控制</a>
                                </h6>
                                <div class="description">
                                    远程控制双路继电器示例,后端使用Laravel + Laravel-Admin + Swoole。硬件使用的是ESP8266-01
                                    和双路继电器,采用WebSocket传输协议，实现外网控制继电器。
                                </div>
                                <div class="extra">
                                    <a href="http://blog.juneandlee.cn/tag/swoole">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>swoole</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/esp8266">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>esp8266</div>
                                    </a>
                                    <a href="http://blog.juneandlee.cn/tag/%E7%89%A9%E8%81%94%E7%BD%91">
                                        <div class="label"><i class="layui-icon layui-icon-note"></i>物联网</div>
                                    </a>
                                    <div class="info"><i class="layui-icon layui-icon-friends"></i>Sammy&nbsp;,&nbsp;
                                        <i class="fas fa-clock"></i>1个月前&nbsp;,&nbsp;
                                        <i class="fas fa-eye"></i>216
                                        <a href="http://blog.juneandlee.cn/laravelswooleesp8266-6d6q2" class="float-right">
                                            Read More <i class="fas fa-chevron-right"></i></a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- content end -->

        </div>
    {{template "home/layout/footer" .}}
{{ end }}
